{% extends "page_layout.twig" %}
{% block content %}
<div class="well">
  <h3>Proem Development Blog</h3>
  <table class="table table-striped">
    {% for blog in blogs %}
    <tr>
      <td><a href="{{ blog.url }}">{{ blog.title|e }}</a></td>
      <td><a href="{{ blog.url }}#disqus_thread" data-disqus-identifier="{{ blog.id }}"></a></td>
      <td><em>{{ blog.date }}</em></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
